[submodule "HHStatAnalysis"]
	path = HHStatAnalysis
	url = https://github.com/cms-hh/HHStatAnalysis.git
[submodule "drawComparisonPlots"]
	path = drawComparisonPlots
	url = https://github.com/fabio-mon/drawComparisonPlots.git
